* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --color-base-bg: #065E7C;
  --color-base-bg-logo: #F4FCFF;
  --color-base-input: rgba(255, 255, 255, 0.20);
  --color-base-white: #fff;
  --color-base-title: #202024;
  --color-base-text: #121214;
  --color-base-footer-bg: #387E96;
}

html, body, input {
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;
}

#app {
  max-width: 43rem;
  margin: 0 auto;
}

header {
  display: flex;
  gap: 2.6rem;
  align-items: center;

  padding: 1.6rem 2.4rem;

  background: var(--color-base-bg);
}

header form {
  flex: 1;
}

header form label {
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

header input {
  width: 100%;

  padding: 1.2rem 1.4rem;

  border: none;
  border-radius: .4rem;

  background: var(--color-base-input);

  color: var(--color-base-white);
  font-weight: 600;
  line-height: 1.6rem;
}

header input::placeholder {
  color: var(--color-base-white);
}

header .logo {
  background: var(--color-base-bg-logo);
  padding: .8rem;
  border-radius: 9999px;

  width: 4rem;
  height: 4rem;
}

.img img {
  max-width: 100%;

  transition: all .2s ease-in;
}

.img img:hover {
  filter: hue-rotate(7deg) contrast(100%) saturate(150%);
}

header .avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

main {
  padding: 3.2rem 2.2rem;
}

main h1, h2 {
  color: var(--color-base-title);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.6rem;
}

.button {
  margin: .8rem 1.2rem 3rem 0;
}

main p {
  color: var(--color-base-text);
  line-height: 2.4rem;

  max-width: 38rem;
}

main h2 {
  margin: 3.2rem 0 0;
}

article {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  max-width: 38rem;
}

.image img {
  max-width: 100%;

  transition: all .3s ease-in-out;
}

.image img:hover {
  filter: hue-rotate(20deg) contrast(90%) saturate(100%);
  transform: scale(1.1);
}

article .image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 1.6rem;
  align-items: center;
}

article h3 {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2.4rem;
}

.text p {
  color: var(--color-base-text);
  font-size: 1.4rem;
  line-height: 2.2rem;

  width: 22rem;
}

footer {
  text-align: center;
  background: var(--color-base-footer-bg);
  color: var(--color-base-white);

  padding: 2.4rem;
}

@media (min-width: 1024px) {
  #app {
    max-width: 100%;
  }

  header {
    padding: 1.6rem 8.8rem;
  }

  main {
    width: max-content;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
  }
}